{% extends "auth_layout.html" %}

{% block title %}Login{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block header %}
Login
{% endblock %}

{% block content %}
<form action="login" method="post">
  <div class="auth-field">Username</div>
  <input type="text" placeholder="username" name="username" value="{{ request.form.username }}" autofocus>
  <div class="auth-field">Password</div>
  <input type="password" placeholder="password" name="password" value="{{ request.form.password }}">
  <br>
  <input type="submit" value="Login">
</form>
<br>
<a href="register">Registration</a>

{% if error %}
<p><strong>{{ error }}</strong></p>
{% endif %}
{% endblock %}