{% extends "auth_layout.html" %}
{% block title %}Register{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}

{% block header %}
Register
{% endblock %}

{% block content %}
<form action="register" method="post">
  <div class="auth-field">Username</div>
  <input type="text" placeholder="username" name="username" value="{{ request.form.username }}">
  <div class="auth-field">Password</div>
  <input type="password" placeholder="password" name="password" value="{{ request.form.password }}" id="register-password" onkeyup="passwordValidator();">
  <div class="auth-field">Confirm Password</div>
  <input type="password" placeholder="confirm password" name="confirm password" id="confirm-password" onkeyup="passwordValidator();">
  <br>
  <input type="submit" value="Register" id="register-btn">
</form>
<br>
<a href="login">Login</a>

{% if error %}
<p><strong>{{ error }}</strong></p>
{% endif %}
{% endblock %}