astroid==2.8.4
bandit==1.7.0
Brotli==1.0.9
click==8.0.3
colorama==0.4.4
cycler==0.11.0
dash==2.0.0
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
docopt==0.6.2
flake8==4.0.1
Flask==2.0.2
Flask-Compress==1.10.1
gitdb==4.0.9
GitPython==3.1.24
html-linter==0.4.0
isort==5.10.0
itsdangerous==2.0.1
Jinja2==3.0.2
joblib==1.1.0
kiwisolver==1.3.2
lazy-object-proxy==1.6.0
MarkupSafe==2.0.1
matplotlib==3.4.3
mccabe==0.6.1
numpy==1.21.3
pandas==1.3.4
pbr==5.7.0
Pillow==8.4.0
platformdirs==2.4.0
plotly==5.3.1
pycodestyle==2.8.0
pyflakes==2.4.0
pygal==2.4.0
pylint==2.11.1
pyparsing==3.0.4
python-dateutil==2.8.2
pytz==2021.3
PyYAML==6.0
scikit-learn==1.0.1
scipy==1.7.1
six==1.16.0
sklearn==0.0
smmap==5.0.0
stevedore==3.5.0
template-remover==0.1.9
tenacity==8.0.1
threadpoolctl==3.0.0
toml==0.10.2
typing-extensions==3.10.0.2
Werkzeug==2.0.2
wrapt==1.13.3
