{% extends "layout.html" %}
{% block title %}Predictor{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}

{% block header %}
Predictor
{% endblock %}
{% block content %}

<form action="display" enctype="multipart/form-data" method="post" class="predictor-form">
  <div class="form-row">
    <div class="form-label">
      Select dataset for prediction
    </div>
    <select name="data" class="form-control" id="cross-performance-select">
      <option value="empty" selected hidden>Choose dataset</option>
      {% for data in data_list %}
      <option value="{{ data }}">{{ data.split('.')[0] }}</option>
      {% endfor %}
    </select>
  </div>
  <div class="form-row">
    <div class="form-label">
      Select model for prediction
    </div>
    <select name="model" class="form-control" id="cross-performance-select">
      <option value="empty" selected hidden>Choose model</option>
      {% for model in model_list %}
      <option value="{{ model }}">{{ model.split('.')[0] }}</option>
      {% endfor %}
    </select>
  </div>
  <div class="form-row">
    <input class="input-button" type="submit" value="Submit" id="predict-button">
  </div>
</form>
<form action="upload" enctype="multipart/form-data" method="post" id="upload-test" class="predictor-form">
  <div class="form-row">
    <input name="file" type="file" class="file-input-button" id="upload" onchange="this.form.submit()">
    Note: If the dataset is not present <label id="upload" for="upload">click here</label> to upload
  </div>
</form>
{% endblock %}

{% block sidebar %}
<p>User is required to select one item each from following list:
<ol>
  <li>Stored datasets</li>
  <li>Best models selected</li>
</ol>
After selecting both objects submit the form.
</p>
{% endblock %}