{% extends "layout.html" %}
{% block title %} Patients {% endblock %}
{% block head %}
{{ super() }}
{% endblock %}

{% block header %}
Patients
{% endblock %}

{% block content %}
<form action="display" enctype="multipart/form-data" method="post" class="patients-form">
  <div class="form-row">
    <div class="form-label field-labels">
      First Name
    </div>
    <input type="text" class="field">
  </div>
  <div class="form-row">
    <div class="form-label field-labels">
      Last Name
    </div>
    <input type="text" class="field">
  </div>
  <div class="form-row">
    <div class="form-label field-labels">
      Admission Date
    </div>
    <input type="datetime-local" class="field">
  </div>
  <div class="form-row">
    <div class="form-label field-labels">
      Report
    </div>
    <input type="file" class="field">
  </div>
  <div class="form-row button-row">
    <input type="submit" value="Submit">
    <input type="reset" value="Clear" onclick="patientFileInput();">
  </div>
</form>
{% endblock %}

{% block sidebar %}
This page provides link for patient registration and report generation.
{% endblock %}