{% extends "layout.html" %}
{% block title %}Dashboard{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}

{% block header %}
Dashboard
{% endblock %}

{% block content %}

<div class="dashboard">
  {% for performance_plot in performance_plots %}
  <div class="dash-item">
    <embed id="chart-{{ loop.index }}" type="image/svg+xml" src="{{ performance_plot|safe }}">
  </div>
  {% endfor %}
</div>

{% endblock %}

{% block sidebar %}
  Scroll to view performance of all models.
{% endblock %}