{% extends "layout.html" %}
{% block title %}Dashboard{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}

{% block header %}
  Dashboard 
{% endblock %}

{% block content %}
<form action="post" class="performance-form">
  <div class="form-row">
    <!-- <a href="/dashboard/update" id="cross-performance-update"><span class="material-icons">refresh</span></a> -->
    <input type="submit" href="/dashboard/update" id="update" value="Generate">
  </div>
</form>
  {% endblock %}

{% block sidebar %}
  Click on button to generate cross-performance results.
{% endblock %}