#content {
  position: static;
  margin-left: 0px;
  margin-right: 0px;
  padding: 0px 10px;
  top: 0;
}

.sidebar {
  background: white;
}

#form-login {
  width: 20%;
  text-align: center;
}

#login-form {
  margin-top: 5em;
}

#name-box label {
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 1.75em;
  font-weight: 500;
}

#username-box label, #password-box label {
  margin-top: .25em;
  font-weight: 500;
}

#username-box input, #password-box input {
  height: 50px;
  margin-bottom: .25em;
  width: 100%;
  font-size: 1.25em;
}

#login-button input {
  margin-top: .5em;
  margin-bottom: .25em;
  width: 100%;
  font-size: 1.25em;
}

.sidenav {
  display: none;
  visibility: hidden;
}

#footer {
  display: none;
}

@media (max-width: 1400px) {
  #login-form {
    margin-top: auto;
  }

  #form-login {
    width: auto;
    text-align: center;
  }
}
