{% extends "layout.html" %}
{% block title %}Performance{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}

{% block header %}
Performance
{% endblock %}

{% block content %}
<form action="display" method="post" class="performance-form">
  <div class="form-row">
    <div class="form-label">Please select model</div>
    <select name="name" class="form-control" id="performance-select" onchange="this.form.submit()">
      <option value="empty" selected hidden>Choose here</option>
      {% for model in model_list %}
      <option value="{{ model }}">{{ model.split('.')[0] }}</option>
      {% endfor %}
    </select>
  </div>
</form>
{% endblock %}
{% block sidebar %}
<p>Select one item from the provided list. Performance chart will be drawn for selected objects.</p>
{% endblock %}