{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}

{% block header %}
Weightage Based Model Selection System
{% endblock %}


{% block content %}
<section class="home-section" id="selector">
  <div class="section-title">Selector</div>
  <div class="section-text">
    <p>This page takes data in csv file format. Following algorithms are used on dataset to train models.</p>
    <ul>
      <li>Decison Tree</li>
      <li>K-Nearest Neighbour</li>
      <li>Multilayer Perceptron</li>
      <li>Random Forest</li>
      <li>Support Vector Machines</li>
    </ul>
    <p>After training and selection of most-suited model, model name is displayed to user.</p>
  </div>
</section>

<section class="home-section" id="predictor">
  <div class="section-title">Predictor</div>
  <div class="section-text">
    <p>
      This page provides predictions on user provided datasets. This page contains two lists for selection purposes.
    <ul>
      <li>A list of datasets previously uploaded by the user.</li>
      <li>The list contains the best models obtained from previous datasets.</li>
    </ul>
    Users are allowed to select one dataset and one model for testing, the application will provide a table of
    predictions with help of these two objects.
    </p>
  </div>
</section>

<section class="home-section" id="performance">
  <div class="section-title">Performance</div>
  <div class="section-text">
    <p>
      This page provides a user list of the best models obtained from previous datasets for selection. After selection
      of model the page will display performance metrics of model. The performance metrics used are:
    <ul>
      <li>Accuracy score</li>
      <li>F1 score</li>
      <li>Precision score</li>
      <li>Recall score</li>
      <li>Area under ROC</li>
      <li>Prediction time</li>
    </ul>
    </p>
  </div>
</section>

<section class="home-section" id="cross-performance">
  <div class="section-title">Cross-Performance</div>
  <div class="section-text">
    <p>
      This page provides users with two lists.
    <ul>
      <li>List of models trained on previous datasets.</li>
      <li>List of datasets which are used for training said datasets</li>
    </ul>
    The user is required to select one model from the model list and two datasets from the dataset list. The page will
    provide a comparative chart of performance metrics based on provided objects.
    </p>
  </div>
</section>
{% endblock %}

{% block sidebar %}
<p>This sidebar will provide information and guidance to users.</p>
{% endblock %}