.form-row {
    color: $primary-color;
    width: 50%;
    padding: 1rem;

    &>* {
        display: inline-flex;
    }
}

.form-label {
    font-weight: 500;
}

.form-control {

    &:focus,
    &:active {
        @include box-shadow-black;
    }
}

.file-input-button {
    display: none;
    visibility: hidden;
}

#upload {
    font-weight: 500;
    text-decoration: underline;

    &:hover {
        text-decoration: none;
        color: lighten($primary-color, 10%);
    }
}