#accordion {
    /* width: fit-content; */
    width: 80%;
}

#accordion h2 {
    color: #32323280;
}

.btn-lnk:focus, .btn:focus {
    text-decoration: none !important;
}

.btn-lnk:hover, .btn:hover {
    text-decoration: none !important;
}

@media screen and (min-height: 625px) and (max-height: 630px) {
    #accordion {
        width: 200%;
    }
}

@media screen and (min-height: 450px) and (max-height: 625px) {
    #accordion {
        width: 125%;
    }
}

@media screen and (max-height: 450px) {
    #accordion {
        width: 100%;
    }
}