.form-control {
  font-size: medium;
  font-weight: 500;
  margin-top: 5px;
  margin-bottom: 7.5px;
}

#dataset-label {
  display: inline-flex;
  margin-top: 8px;
  font-size: medium;
}

#train-button,
#pref-button,
#reset-button {
  margin-top: 8px;
  margin-bottom: 8px;
  width: 111px;
}

#preference {
  display: none;
  visibility: hidden;
}

.form-check-inline {
  width: 44px;
  margin-right: 22px;
  margin-left: 22px;
}

#options-label {
  color: white;
  margin-top: 7.5px;
  width: 88px;
  height: 25px;
  text-align: left;
  font-size: medium;
  font-weight: 450;
}

#upload {
  display: none;
}

#upload-text {
  font-weight: 700;
  text-decoration: underline;
}

#file-input {
  padding: 0px;
}

#training-dataset-selector {
  width: 50%;
}

#selected-model {
  margin-top: 8px;
  font-size: x-large;
}


@media screen and (max-height: 625px) {

  #dataset-label {
    border-radius: 0px;
    height: 44px;
    width: fit-content;
    align-items: center;
  }

  #training-dataset-selector {
    margin-top: 5px;
    margin-bottom: 5px;
    width: fit-content;
    height: 44px;
    border-radius: 0px;
  }

  #train-button {
    width: 88px;
    height: 44px;
    border-radius: 0px;
  }

  #file-input {
    width: max-content;
    height: 44px;
    padding: 5px;
  }

  #testform {
    width: 250%;
  }

  #train-button,
  #pref-button,
  #reset-button {
    margin-top: 8px;
    margin-bottom: 8px;
    width: 111px;
    height: 44px;
    border-radius: 0px;
  }

  #preference {
    display: none;
    visibility: hidden;
  }

  .form-check-inline {
    width: auto;
    margin-right: 11px;
    height: 44px;
  }

  #options-label {
    color: white;
    margin-top: 7.5px;
    width: 88px;
    height: auto;
    text-align: left;
    font-size: medium;
    font-weight: 450;
    border-radius: 0px;
  }
}

@media screen and (max-height: 450px) {

  #training-dataset-selector,
  #train-button {
    border-radius: 5px;
  }

  #upload-test {
    width: fit-content;
    font-size: x-small;
  }
}