{% extends "layout.html" %}
{% block title %}Selector{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}

{% block header %}
Selector
{% endblock %}

{% block content %}
<form action="display" enctype="multipart/form-data" method="post" class="selector-form">
  <div class="form-row">
    <div class="form-label">
      Select dataset for training
    </div>
    <select name="data" class="form-control" id="training-dataset-selector">
      <option value="empty" selected hidden>Please select dataset to train the models</option>
      {% for data in data_list %}
      <option value="{{ data }}">{{ data.split('.')[0] }}</option>
      {% endfor %}
    </select>
  </div>

  <div class="form-row">
    <input type="submit" value="Train" id="train-button">
    <input type="button" value="Reset" id="reset-button" onclick="preferenceReset();">
    <input type="button" value="Preferences" id="pref-button" onclick="preferenceShow();">
  </div>

  {% for metric in ["Accuracy", "F1", "Precision", "Recall", "ROC"] %}
  {% set met = metric[:3].lower() %}
  <div class="form-row option-row">
    <label class="options-label">
      {{ metric }}
    </label>
    {% for item in ["Highest", "High", "Default", "Low", "Lowest"] %}
    <div class="form-check-inline">
      <input type="radio" class="form-check-input" name="{{ metric }}" id="{{ met }}-{{ loop.index }}"
      value="{{ met }}{{ loop.index }}" {{ "checked" if loop.index==3 }}>
      <label for="{{ met }}-{{ loop.index }}" class="form-check-label">{{ item }}</label>
    </div>
    {% endfor %}
  </div>
  {% endfor %}
  <div class="form-row option-row">
    <label class="options-label">
      Time
    </label>
    {% for key, val in {"slow": "Slow", "normal": "Default", "fast": "Fast"}.items() %}
    <div class="form-check-inline">
      <input type="radio" class="form-check-input" name="Time" id="{{ key }}" value="{{ key }}" {{ "checked" if
      key=="normal" }}>
      <label class="form-check-label" for="{{ key }}">{{ val }}</label>
    </div>
    {% endfor %}
  </div>
</form>
<form action="upload" enctype="multipart/form-data" method="post" id="upload-test" class="selector-form">
  <div class="form-row">
    <input name="file" type="file" class="file-input-button" id="upload" onchange="this.form.submit()">
    Note: If the dataset is not present <label id="upload" for="upload">click here</label> to upload
  </div>
</form>
{% endblock %}

{% block sidebar %}
<p>Please upload previous records/datasets in csv format. This data will be used to train and select best model.</p>
{% endblock %}