<!DOCTYPE html>
<html>

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  {% block head %}

  {% assets "home_css" %}
  <link rel="stylesheet" href="{{ ASSET_URL }}">
  {% endassets %}

  {% assets "home_js" %}
  <script type="text/javascript" src="{{ ASSET_URL }}"></script>
  {% endassets %}

  <title>
    {% block title %}
    {% endblock %}
  </title>

  {% endblock %}
</head>

<body>

  <nav>
    <a href="/">Home</a>
    {% if session.userrole %}
    <a href="/reports/">Reports</a>
    {% if session.userrole == "ADMIN" %}
    <a href="/predictor/">Predictor</a>
    <a href="/selector/">Selector</a>
    <a href="/performance/">Performance</a>
    <a href="/cross_performance/">Cross-Performance</a>
    <a href="/dashboard/">Dashboard</a>
    {% endif %}
    {% endif %}
  </nav>

  <div class="site">

    <header>
      {% block header %}
      {% endblock %}
    </header>

    <main>
      {% block content %}
      {% endblock %}
    </main>

    <div class="sidebar">
      {% block sidebar %}
      {% endblock %}
    </div>

  </div>

  <footer>
    <div class="left-footer">
      <a href="/auth/logout">{{ session.username if session.username else "Guest" }}</a>
    </div>
    <div class="right-footer">2022 © WBMSS</div>
  </footer>

</body>

</html>